<div class="controls">
  @for (key of tileKeys(); track key) {
    @if (tileTypes[key].normal || tileTypes[key].fill) {
      <div>
        {{ key }}
      </div>
      @if (tileTypes[key].normal) {
        <button
          class="add-item"
          [disabled]="!canAddTile()"
          (click)="addTile(key)"
          [ngStyle]="{ 'background-color': getColor(key) }"
        >
          Add
        </button>
      } @else {
        <div class="add-item"></div>
      }
      @if (tileTypes[key].fill) {
        <button
          [disabled]="!canAddTile()"
          (click)="fillTile(key)"
          [ngStyle]="{ 'background-color': getColor(key) }"
        >
          Fill
        </button>
      } @else {
        <div class="add-item"></div>
      }
    }
  }
</div>

<div class="menu">
  <button [disabled]="!canUndoTile()" (click)="undoTile()">Undo</button>
  <button [disabled]="!canClearTile()" (click)="clearTile()">Clear</button>
</div>

<div class="candidate-container">
  <candidate-display></candidate-display>
</div>

<div class="menu">
  <button [disabled]="!canUndoPlacement()" (click)="undoPlacement()">Undo placement</button>
  <button (click)="resetGame()">Reset game</button>
</div>

<div class="menu">
  <button (click)="export()">Export game</button>
  <button (click)="import()">Import game</button>
</div>

@if (showSummary()) {
<div class="summary">
@for (count of summaryItems(); track $index; let idx = $index) {
<summary-item [edgeCount]="idx + 1" [count]="count" [markCount]="0">
</summary-item>
}
</div>
}

<a #downloader hidden download="game.json"></a>
<input #uploader type="file" accept="application/json" hidden (change)="uploaded()">
