.controls {
  margin-top: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr 1fr;
  flex-direction: column;
  gap: 10px;
}

.candidate-container {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 10px;
  margin: 10px 5px;
}

.summary {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 40px;
}
